<%-include('partials/header')%>
<h1>Welcome!</h1>  
            <form class="form" method="post">
                <input type="text" placeholder="Name" name="name">
                <input type="email" placeholder="Email" name="email">
                <input type="password" placeholder="Password" name="password">
                <input type="password" placeholder="Password confirm" name="passwordConfirm">
                <button type="submit" id="login-button">Signup</button>
            </form>
            <div>
                <p>Already have an account? <a href="user/login" type="button">Login</a></p>
            </div>
        </div>
        
        <ul class="bg-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</body>
</html>